* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  background-color: white;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(85, 147, 196);
}

.title {
  color: rgb(2, 55, 97);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  padding: 6px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgb(85, 147, 196);
  min-width: 30px;
  min-height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(48, 99, 139);
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-container {
  height: 100px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 35px;
  cursor: pointer;
  background-color: rgb(48, 99, 139);
  color: rgb(242, 244, 245);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 4px;
  border-radius: 4px;
  user-select: none;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}
